@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#hero-title {
  font-size: 4em;
  color: antiquewhite;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/** A fix for code blocks **/

pre .tag {
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  display: inline;
  background-color: transparent;
  border-radius: 0;
  line-height: normal;
  white-space: pre-wrap;
}

.pixel-text {
  font-size: 1.5em;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.cute-text {
  font-size: 2em;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ff336b;
}

#properties-table td, #properties-table th {
  padding: 0.5em 2em;
}

.h-100 {
  height: 100%;
}